.hnavbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(62,71,76,255);
    position: fixed;
    top: 0px;
    width: 100%;
}
.libar {
    float: left;
}
.ablock {
    display: block;
    color: rgba(248,156,21,255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}